node_modules
test/node_modules
test/cypress/screenshots
test/cypress/videos
test/output/out.json
test/output/out.txt
test/output/not/existing/path/out.txt
test/output/out.cst
test/output_nested
test/cypress/reports
.idea
.vscode
.aider*
src/**/*.js
src/**/*.d.ts
